{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^Pages",
    "^Components",
    "^Shared",
    "^[../](.*)(?<!.css)$",
    "^[./](.*)(?<!.css)$",
    "(.*)css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
