.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  outline: none;
  border: 1px solid;
  cursor: pointer;
}

.button:disabled {
  color: white;
  background-color: var(--color-grey);
  border-color: var(--color-grey);
}

.circle {
  border-radius: 100%;
}

.small {
  font-size: 12px;
  padding: var(--space-l);
}

.medium {
  font-size: 16px;
  padding: var(--space-xl);
}

.large {
  font-size: 20px;
  padding: var(--space-xxl);
}

.primary {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: white;
}

.secondary {
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
  color: white;
}

.tertiary {
  border-color: var(--color-tertiary);
  background-color: var(--color-tertiary);
  color: white;
}