.container {
  position: relative;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-s);
}

.line {
  background-color: var(--color-secondary);
  width: 100%;
  height: 2.5px;
}

.line:last-child {
  width: 50%;
}
